= form_for @wanted_book do |f|
  - if @wanted_book.errors.any?
    #error_explanation
      %h2= "#{pluralize(@wanted_book.errors.count, "error")} prohibited this wanted_book from being saved:"
      %ul
        - @wanted_book.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
