= form_for @wanted_book, :html => { :class => 'form-horizontal' } do |f|
  .form-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'form-control'
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), wanted_books_path, :class => 'btn btn-default'
