- model_class = Dashboard
.page-header
  %h1=t '.title', :default => [:'helpers.titles.new', '%{model}'], :model => model_class.model_name.human.titleize
  = form_for @dashboard, :html => { :class => 'form-horizontal'}, :url => {:action => 'search'} do |f|
    .form-group
      = f.label :keyword, :class => 'control-label'
      .controls
        = f.text_field :keyword, :class => 'form-control', :value => @dashboard.keyword
    = button_tag( class: "btn btn-default btn-sm") do
      = content_tag :span, ' 検索', class: "glyphicon glyphicon-search"
= render :partial => "shared/tile_list", locals: { my_amazon_elements: @my_amazon_elements, shutter: "shutter" }
